*{
  margin: 0;
  
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

.mouth-water{
  font-size: 0.625rem;
  text-transform: uppercase;
  border-top: 5px solid;
  border-image: linear-gradient(270deg, #FF713B 0%, #FFA51D 100%);
  border-image-slice: 1;
  color: #F18119;
  padding-top: 0.2em;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px black;
}


.title{
  font-size: 2.25rem;
  font-weight: 300;
  /* max-width: 270px; */
  margin: 0 0.5em;
  color: rgba(255, 255, 255, 0.8);
}

.title, .join-us{
  padding: 1em 0;
}


span{
  font-weight: 900;
  color: white;
}


.container{
  /* max-width: 900px; */
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid red; */
}

.bg-image{
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
}

header{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.join-us{
  color:#F18119;
  font-size: 1.3125rem;
  margin: 0 0.5em;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
}

section{
  border: 1px solid #989898;
  padding-top: 2em;
}

section h1{
  font-size: 1.3125rem;
  margin: 0 0.5em;
}

section h2{
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #F18119;
  padding-bottom: 1em;
}

section p{
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 1.5em 1.5em 1.5em;
  max-width: 420px;
  margin: 0 auto;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-style{
  text-align: center;
  margin: 0 1em 1em 1em;
  max-width: 220px;
  width: 90%;
  padding: 0.8em;
  border: 1px solid grey;
  border-radius: 8px;
  box-sizing: border-box;
  transition: 0.5s;
}

.submit{
  letter-spacing: 0.1em;
  background: linear-gradient(270deg, #FF713B 0%, #FFA51D 100%);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #fff;
  border: none;
  transform: scale(1);
  transition: 0.5s;
}

.btn-style:focus{
  max-width: 250px;
  width: 95%;
  outline: none;
}

.submit:hover,
.submit:focus{
  transform: scale(1.1);
  cursor: pointer;
  outline: none;
}

.footer{
  font-size: 0.7em;
}

@media (min-width:900px) {

    body{
      font-size: 1.125rem;
    }

  .container{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    min-height: 100vh;
  }

  .bg-image{
    width: 60%;
  }

  section{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title, .join-us{
    padding: 0;
  }

  .splitter{
   /* margin-top: 12em; */
   /* border: 1px solid red; */
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
  }

  header{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
  }

  .title{
    font-size: 3rem;
  }

  .join-us{
    margin-top: 0.5em;
    font-size: 1.5rem;
  }



}

